.desktop-7,
.desktop-7 * {
  box-sizing: border-box;
}
.desktop-7 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.ellipse-5 {
  background: rgba(220, 171, 255, 0.43);
  border-radius: 50%;
  width: 267px;
  height: 240px;
  position: absolute;
  left: 26px;
  top: 98px;
}
.rectangle-1 {
  background: #d59aff;
  width: 1440px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.button {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 834px;
  top: 45px;
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-default, #2c2c2c);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.ellipse-3 {
  background: rgba(213, 154, 255, 0.48);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 969px;
  top: 874px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 25px;
  top: 48px;
  width: 268px;
  height: 52px;
}
.ellipse-6 {
  background: rgba(213, 154, 255, 0.4);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 358px;
  top: 344px;
}
.button3 {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 677px;
  top: 44px;
  overflow: hidden;
}
.ellipse-2 {
  background: rgba(220, 171, 255, 0.44);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 485px;
  top: 725px;
}
.ellipse-1 {
  background: rgba(220, 171, 255, 0.49);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: -79px;
  top: 867px;
}
.button4 {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 520px;
  top: 44px;
  overflow: hidden;
}
.ellipse-4 {
  background: rgba(220, 171, 255, 0.45);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 1330px;
  top: 392px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 64px;
  line-height: 120%;
  font-weight: 300;
  position: absolute;
  left: 524px;
  top: 164px;
  width: 429px;
  height: 71px;
}
.button5 {
  background: rgba(220, 171, 255, 0.45);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 37px;
  position: absolute;
  left: 1185px;
  top: 181px;
  overflow: hidden;
}
.button6 {
  background: rgba(220, 171, 255, 0.45);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 37px;
  position: absolute;
  left: 1185px;
  top: 49px;
  overflow: hidden;
}
.form-register {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 396px;
  min-width: 320px;
  position: absolute;
  left: 522px;
  top: 293px;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.input {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 240px;
  position: relative;
  overflow: hidden;
}
.value {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.checkbox-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.checkbox-and-label {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.checkbox {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-100, 4px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.check {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.label2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.description-row {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.space {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.description {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button7 {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.button8 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
