.desktop-4,
.desktop-4 * {
  box-sizing: border-box;
}
.desktop-4 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.ellipse-5 {
  background: rgba(220, 171, 255, 0.43);
  border-radius: 50%;
  width: 267px;
  height: 240px;
  position: absolute;
  left: 26px;
  top: 98px;
}
.rectangle-1 {
  background: #d59aff;
  width: 1440px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.ellipse-6 {
  background: rgba(213, 154, 255, 0.4);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 358px;
  top: 344px;
}
.button {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 502px;
  top: 51px;
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-default, #2c2c2c);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.ellipse-2 {
  background: rgba(220, 171, 255, 0.44);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 485px;
  top: 725px;
}
.ellipse-3 {
  background: rgba(213, 154, 255, 0.48);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 980px;
  top: 845px;
}
.button3 {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 702px;
  top: 51px;
  overflow: hidden;
}
.button4 {
  background: #d59aff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #d59aff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  position: absolute;
  left: 908px;
  top: 50px;
  overflow: hidden;
}
.avatar {
  border-radius: var(--var-sds-size-radius-200, 8px);
  width: 1106px;
  height: 375px;
  position: absolute;
  left: 193px;
  top: 230px;
  overflow: hidden;
}
.shape {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.avatar2 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  width: 176px;
  height: 158px;
  position: absolute;
  left: 1107px;
  top: 744px;
  overflow: hidden;
}
.div {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 20px);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 628px;
  top: 641px;
  width: 235px;
  height: 47px;
}
.avatar3 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  width: 176px;
  height: 158px;
  position: absolute;
  left: 485px;
  top: 744px;
  overflow: hidden;
}
.avatar4 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  width: 176px;
  height: 158px;
  position: absolute;
  left: 193px;
  top: 744px;
  overflow: hidden;
}
.ellipse-1 {
  background: rgba(220, 171, 255, 0.49);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: -79px;
  top: 867px;
}
.avatar5 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  width: 176px;
  height: 158px;
  position: absolute;
  left: 808px;
  top: 744px;
  overflow: hidden;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 594px;
  top: 941px;
  width: 338px;
  height: 92px;
}
.button5 {
  background: #ba70ff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #a94dff;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 41px;
  position: absolute;
  left: 1179px;
  top: 51px;
  overflow: hidden;
}
.ellipse-4 {
  background: rgba(220, 171, 255, 0.45);
  border-radius: 50%;
  width: 254px;
  height: 240px;
  position: absolute;
  left: 1330px;
  top: 392px;
}
.search-bar {
  background: var(--schemes-surface-container-high, #ece6f0);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 56px;
  min-width: 360px;
  max-width: 720px;
  position: absolute;
  left: -1067px;
  top: 149px;
  overflow: hidden;
}
.state-layer {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.leading-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer2 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trailing-elements {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._1st-trailing-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 44.01px;
  height: 0px;
  position: absolute;
  left: -81px;
  top: 548px;
  transform-origin: 0 0;
  transform: rotate(21.318deg) scale(1, 1);
}
.search-bar2 {
  background: var(--m3-sys-dark-primary, #d0bcfe);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 56px;
  min-width: 360px;
  max-width: 720px;
  position: absolute;
  left: 552px;
  top: 152px;
  overflow: hidden;
}
.icon3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 64px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  left: 467px;
  top: 358px;
  width: 589px;
  height: 67px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 41px;
  top: 46px;
  width: 268px;
  height: 52px;
}
